<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    "
  >
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      align="center"
      style="width: 100%; max-width: 600px; padding: 0 5px"
    >
      <tbody style="background-color: #f2f2f2">
        <td style="height: 1.875rem"></td>
      </tbody>

      <tbody style=" background-color: white">
        <tr>
          <td align="center">
            <img
              width="100%"
              height="100%"
              src="https://cdn.discordapp.com/attachments/1174366682618269786/1174371325876379668/banner.png?ex=65675986&is=6554e486&hm=a946682035277fd6827ddfe3306a57fac1aa747dd2c262f7d47389c646c8c3f7&"
              alt="Banner do Grupo 06"
            />
            <h1 style="padding: 1.875rem 0 1.25rem 0; word-wrap: break-word">
              Prezado(a) {{nome}},
            </h1>
            <p style="height: 1.875rem; font-size: 16px;">
              seu pedido foi concluído com sucesso!
            </p>
          </td>
        </tr>
      </tbody>
      <tbody style="background-color: #f2f2f2">
        <td style="height: 1.875rem"></td>
      </tbody>
    </table>
  </body>
</html>
